%footer
  #footer
  %iframe{allowfullscreen: "", frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3590.873484632921!2d28.207281951156695!3d-25.840713883520397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95669f0ff0d4ff%3A0x197365953e0a5875!2s4+Burger+Ave%2C+Lyttelton+Manor%2C+Centurion%2C+0157!5e0!3m2!1sen!2sza!4v1505289148320", style: "border:0", width: "100%"}
  Copyright &copy 2017
